# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Python virtual environment
venv/
env/
ENV/

# IDEs and editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Data folder
data/

# Other
*.bak
.DS_Store
